site_name: OneCloud Notes & Documentation
site_url: https://sitename.example
theme:
  name: material
  favicon: assets/zcool.svg
  icon:
    logo : simple/zcool
  features:
    - navigation.indexes
    - navigation.footer
    - content.code.copy
    - content.tabs.link
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Dark mode
      primary: indigo
      accent: grey

    # Light Mode
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Light mode
      primary: indigo
      accent: grey
nav:
  - Home: index.md
  - Library:
    - Update-SSL.md
    - reset-admin-AAP.md
    - fsck-root.md
    - pending-Ansible.md
    - extend-disk.md
    - os-failed.md
    - swap-not-found.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra:
  status:
    new: Recently added
  social:
    - icon: simple/instagram
      link: https://www.instagram.com/wnnn23_/
    - icon: fontawesome/brands/linkedin-in
      link: https://www.linkedin.com/in/mohammad-alwan-252454280/

extra_css:
  - stylesheets/extra.css